{
  "presets": ["env"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "common": "../common/src",
        "lib": "./src/lib"
      }
    }],
    ["transform-runtime", {
      "polyfill": true,
      "regenerator": true
    }],
    ["transform-object-rest-spread"]
  ]
}
