{
  "extends": "airbnb",
  "env": {
    "node": true
  },
  "rules": {
    "no-console": 0,
    "import/prefer-default-export": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
